# CultAnime local development example
#
# Use this on the developer machine. This mode can stream through Jellyfin
# over Tailscale, but it does not try to watch the real server media folder.

MEDIA_WATCHER_ENABLED=false
MEDIA_ROOT=/media/anime
JELLYFIN_MEDIA_ROOT=/media/anime
LIBRARY_RECONCILE_ENABLED=true
LIBRARY_RECONCILE_INTERVAL_MS=60000
LIBRARY_RECONCILE_ON_READ_INTERVAL_MS=0
LOCAL_MEDIA_PRUNE_ENABLED=false

ADMIN_PASSWORD=change_this_for_local_admin
NEXT_PUBLIC_SITE_NAME=CultAnime

JELLYFIN_URL=http://YOUR_TAILSCALE_JELLYFIN_IP:8096
JELLYFIN_API_KEY=replace_with_jellyfin_api_key
